<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
        <title>GrandPy</title>
    </head>
    <body id="body">


        <div class="col-sm-12 container">
            <div class="row" id="header">
                <img id="img_header" src="{{ url_for('static', filename='img/header.png') }}">
            </div>

            <div id="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <p id="text_error">Je ne connais pas d'histoire sur ce que tu me demande mon poussin :)</p>
            </div>

            <div class="row" id="question">
                <form method="get" class="form-inline pull-right">
                    <legend> Grand Py bot </legend>
                    <label>Alors mon petit ! Dis-moi ce que tu veux savoir :</label><br />
                    <input id="input_form" type="text" name="question" class="input-sm form-control"/>
                    <input type="button" class="btn btn-primary btn-sm " id="button" value="Racontes moi !">

                </form>
            </div>

            <div class="row" id="contain_loader">
                <div id="loader"></div>
                <p id="loader_text">Attend mon petit, je réfléchis ...</p>
            </div>

            <div class="row" id="content_description">

                <div  class="jumbotron">
                    <p id="description"></p>
                </div><br >
            </div>

            <div class="row thumbnail" id="emplacement">
                <nav>
                    <dl>
                        <dt id="adresse">Emplacement :</dt>

                    </dl>
                </nav>

                <section>
                        <div id="map" class="jumbotron"></div>
                </section>

            </div>


            <br ><br >
            <div id="about_me">
                <p id="my_name">Mehdi SADOUR - OpenClassrooms</p>
                <a href="https://www.linkedin.com/in/mehdisadour/" id="linkedin">Linkedin</a>
                <a href="https://github.com/msadour" id="github">GitHub</a>
                <!--<a href="https://openclassrooms.com/membres/dimsfit" id="oc">OpenClassrooms</a>-->
                <br ><br >
            </div>

        </div>



        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="../static/js/request.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU03xryXnIa2xywviwVyWP_src_KALY-I&callback=initMap"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </div>


    </body>


</html>